* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body  {
  
  font-family: Arial, Helvetica, sans-serif;
}

$primary-color: #f1f3f8;
$secondary-color: #d6e0f0;
$third-color: #8d93ab;
$fourth-color: #393b44;
$fancy-font:'Odibee Sans';

.main-nav {
  position: fixed;
  height: 7vh;
  width: 100%;
  // background: $fourth-color;
  ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-between;
    li{
      cursor: pointer;
      font-weight: bold;
      color: white;
      font-size: 1.4rem;
      list-style: none;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1rem;
  font-size: 1.5rem;
  
  p {
    text-align: right;
    color: white;
    padding-right: 1rem;
  }
  div{
  display: flex;
  flex-direction: column;
  a {
    text-align: center;
    text-decoration: none;
    color: White;
    font-size: $primary-color;
    width: 100%;
    padding: 0.5rem 0;
  }
  a:hover {
    background: $fourth-color;
  }
}
  button {
    color: white;
    background: none;
    border: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  button:hover {
    background: $fourth-color;
  }

}
/// main home
.main-home {
  
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/porsche.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    div {
      width: 60%;
      text-align: center;
      position: absolute;
      left: 20%;
      top: 0;
      color: $primary-color;
      h2{
      font-size: 4rem;
     
      }
      p {
        display: none;
        font-size: 1.4rem;
      }
    }
  
}

.car-section{
  
  min-height: 38vh;
  background: $secondary-color;
  display: flex;
  overflow: hidden;
  div {
    display: none;
    width: 33.3%;
    height: 30vh;
    img {
      filter: brightness(80%);
      width: 80%;
      margin: 0 10%;
      margin-top: 2rem;
      height: 90%;
      border-radius: 10px;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      padding-top: 0.8rem;
    }
  }
}

#email-form {

  
  background: $third-color;
  width: 100%;
  min-height: 40vh;
  padding: 2rem 0;
 
    
  .form-div {
    
  
    opacity: 0;
    padding: 0 2rem;
    padding-top: 3rem; 
    padding-bottom: 1rem;
    background: $secondary-color;
    width: 60%;
    height: 0;
    margin:0 auto;
    border-radius: 10px;

   

  
  }



}
footer {
  min-height: 13vh;
  display: flex;
  background: $fourth-color;
  color: #fff;
  align-items: center;
  justify-content: center;
}


//login

.login-main {

  background: $third-color;
  min-height: 87vh;
  font-size: 1.4r;
  h1 {
    font-size: 3.5rem;
    font-family: $fancy-font, cursive;
  }
  input {
    font-size: 1.1rem;
  }
  label {
    font-size: 1.4rem;
  }


}

.register-main {


  background: $third-color;
  min-height: 87vh;
  label {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.5rem;
    font-family: $fancy-font, cursive;
  }
  input {
    font-size: 1.1rem;
  }

}

//
//cars

.main-cars {
  background: $third-color;
  min-height: 87vh;
}

//offers

.main-offer {
  background: $third-color;
  min-height: 87vh;
}